<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/tablestyle.css">
    <link rel="stylesheet" href="css/tablestyle.css">
</head>
<body>
<div class="row">
    <div class="container-fluid">
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-light">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/AddBook}">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ListBook}">Show our Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<table>
    <tr>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Price</th>
        <th>Listing Date</th>
        <th>Description</th>
        <th>Rules</th>
        <th>Wifi</th>
        <th>Cable</th>
        <th>Private Bathroom</th>
        <th>Rented</th>
        <td>Details</td>
    </tr>

    <tr th:each="apartment : ${apartmentlist}">
        <td th:text="${apartment.address}"></td>
        <td th:text="${apartment.city}"></td>
        <td th:text="${apartment.state}"></td>
        <td th:text="${apartment.price}"></td>
        <td th:text="${apartment.listingDate}"></td>
        <td th:text="${apartment.description}"></td>
        <td th:text="${apartment.rules}"></td>
        <td th:text="${apartment.wifi}"></td>
        <td th:text="${apartment.cable}"></td>
        <td th:text="${apartment.privateBathroom}"></td>
        <td th:text="${apartment.rented}"></td>
        <td>
            <p class="lead text-center"><a class="btn btn-lg btn-info" th:href="@{/update/{id}(id=${apartment.id})}" target="_self">
                Change Apartment Listing
            </a></p>

            <p class="lead text-center"><a class="btn btn-lg btn-info" th:href="@{/detail/{id}(id=${apartment.id})}" target="_self">
                See All Apartments
            </a></p>

            <p class="lead text-center"><a class="btn btn-lg btn-info" th:href="@{/delete/{id}(id=${apartment.id})}" target="_self">
                Remove this Apartment
            </a></p>
        </td>
    </tr>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>